// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.match-height > [class*=col] {
    display: flex;
    flex-flow: column;
}
.match-height > [class*=col] > .card {
    flex: 1 1 auto;
}
